<a href="https://colab.research.google.com/github/Aarti291297/Aarti_Gauda-Rlab/blob/main/project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
id <- "10MtPqGguA-2erSyJkHwn8r677kB7HFxb" # google file ID
data <- read.csv(sprintf("https://docs.google.com/uc?id=%s&export=download", id), na.strings=c("","NA"))
data

SyntaxError: ignored

In [ ]:

# a. summarize the entire data using apropriate R Command.
library(dplyr)

summary(data)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

  Pregnancies        Glucose      BloodPressure    SkinThickness
 Min.   : 0.000   Min.   :  0.0   Min.   :  0.00   Min.   : 0.00
 1st Qu.: 1.000   1st Qu.: 99.0   1st Qu.: 62.00   1st Qu.: 0.00
 Median : 3.000   Median :117.0   Median : 72.00   Median :23.00
 Mean   : 3.845   Mean   :120.9   Mean   : 69.11   Mean   :20.54
 3rd Qu.: 6.000   3rd Qu.:140.2   3rd Qu.: 80.00   3rd Qu.:32.00
 Max.   :17.000   Max.   :199.0   Max.   :122.00   Max.   :99.00

    Insulin            BMI        DiabetesPedigreeFunction      Age
 Min.   :  0.00   Min.   : 0.00   Min.   :0.0780           Min.   :21.00
 1st Qu.:  0.00   1st Qu.:27.30   1st Qu.:0.2437           1st Qu.:24.00
 Median : 18.00   Median :32.00   Median :0.3725           Median :29.00
 Mean   : 77.84   Mean   :31.97   Mean   :0.4719           Mean   :33.24
 3rd Qu.:125.00   3rd Qu.:36.58   3rd Qu.:0.6262           3rd Qu.:41.00
 Max.   :846.00   Max.   :67.10   Max.   :2.4200           Max.   :81.00
 NA's   :13       NA's   :6
    Outcome
 Min.   :0.000
 1st Qu.:0.000
 Median :0.000
 Mean   :0.349
 3rd Qu.:1.000
 Max.   :1.000

In [ ]:

# b. show class of variable holding data
class(data)

[1] "data.frame"

In [ ]:
# d. select any 2 atributes that are continuous valued and create a subset of original data with only those columns. 
# (e.g. sample_data(col1,col2, col3) is stored in variable my_data where as variable data_slice has only col2 and col3 and no other columns. Num of rows in both must be same.)


data_slice <- data %>% select(Glucose:Insulin)
summary(data_slice)

    Glucose      BloodPressure    SkinThickness      Insulin
 Min.   :  0.0   Min.   :  0.00   Min.   : 0.00   Min.   :  0.00
 1st Qu.: 99.0   1st Qu.: 62.00   1st Qu.: 0.00   1st Qu.:  0.00
 Median :117.0   Median : 72.00   Median :23.00   Median : 18.00
 Mean   :120.9   Mean   : 69.11   Mean   :20.54   Mean   : 77.84
 3rd Qu.:140.2   3rd Qu.: 80.00   3rd Qu.:32.00   3rd Qu.:125.00
 Max.   :199.0   Max.   :122.00   Max.   :99.00   Max.   :846.00
                                                  NA's   :13

In [ ]:

# e. Write R function to sample tuples starting at index N to N+m from any data set provided.
bb <- data['Age']
sample(bb[1:10,])

 [1] 32 53 29 50 26 21 33 30 31 54